td.xtable-data, 
th.xtable-title,
th.xtable-heading {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size :10pt;
  color : Black;
  text-align: left;
  vertical-align: top;
}

th.xtable-heading {
  background-color : #DEE3EF;
  font-weight: bold;
}

th.xtable-title {
  background-color : #DEE3EF;
  font-weight: bold;
}
